Hola {{ user.get_full_name|default:user.username }},

Recibiste este correo porque se solicitó restablecer la contraseña de tu cuenta en el Sistema de Inventario del Grupo de Investigación en Química y Medio Ambiente (GIQYMA) - Universidad de Cartagena.

Por favor haz clic en el siguiente enlace para definir tu nueva contraseña:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Tu nombre de usuario es: {{ user.get_username }}

Si tú no solicitaste este cambio, puedes ignorar este mensaje; tu contraseña actual continuará siendo segura.

Cordialmente,
Equipo GIQYMA
Universidad de Cartagena
